.nav-bar body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav.navbar li {
    float: left;
}

nav.navbar li:last-child {
    float: right;
}

nav.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
}
nav.navbar li a:hover {
    background-color: #111111;
}
.hidden {
    display: none;
}