body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

h1, h3 {
    text-align: center;
}

div.main-content {
    margin-top: 50px;
}

div.main-content table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: #333;
}

div.main-content h1 {
    margin-bottom: 5px;
}

div.main-content th, div.main-content td {
    border: 2px solid #dddddd;
    padding: 8px;
    background-color: #fff;
}

.not-in-project {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}
