body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

div.main-content {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #333;
}

div.main-content h1 {
    margin-bottom: 30px;
}

div.main-content table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: #333;
}

div.main-content th, div.main-content td {
    border: 2px solid #dddddd;
    padding: 8px;
    background-color: #fff;
}

div.main-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.main-content li {
    margin: 5px 0;
}

div.main-content button {
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete {
    background-color: #ff0000;
}

.delete:hover {
    background-color: #b60000;
}

.join, .leave, .create {
    background-color: #007bff;
}

.create {
    font-size: 15px;
    margin-top: 30px;
}

.join:hover, .leave:hover, .create:hover {
    background-color: #0056b3;
}