<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Log In</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/LoginRegisterStyles.css}" />
</head>
<body>
<h1>Please Log In</h1>
<form th:action="@{/login}" method="post">
    <div class="error-message" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div>
        <input type="text" name="username" placeholder="Username" required/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" required/>
    </div>
    <input type="submit" value="Log In"/>
    <div class="redirect-link">Don't have an account? <a href="/register">Register Here</a></div>
</form>
</body>
</html>